<%- include('partials/headerFaculty.ejs') %>
<style type="text/css">

    table{
        margin-left: 100px;
    }
    .row-1{
        display: flex;
        flex-direction: row;
    }
    .input1{
        width: 70%;
    }
    .col-sm-8{
        margin-top: 10px;
    }
    .contact1-form-btn{
        margin: 50px 10px;
    }
    .customBtn{
        width: 10%;
    }
</style>

    <div class="app-content" style="padding-top: 40px;">
        <nav style="position: fixed;background-color: transparent;" class="navbar navbar-expand navbar-light bg-white">
            <button type="button" class="btn btn-sidebar" data-toggle="sidebar"><i class="icon-menu"></i></button>
        </nav>
        <nav aria-label="breadcrumb">
        </nav>
        <div class="container">
            <%	if (typeof errorMessage != 'undefined') { %>
            <%	if (errorMessage) { %>
                <div class="alert alert-danger alert-dismissible"  style=" text-align: center;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= errorMessage %>
                  </div>
                                 
            <% } else if(okMessage){%>
                <div class="alert alert-success alert-dismissible" style="width: 50%;text-align: center;;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= okMessage %>
                                    </div>
                                <%}%>
                                <%}%>
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2><%= mClass.program%> - <b><%= mClass.course%></b> || CreateTopics</h2></div>
                        </div>
                    </div>
                    <form action="/createTopic/<%= mClass.classId %>" method="post">
                    <table>
                        <div class="wrap-input1 validate-input"  >
                            <div class="row-1">
                        <tr>
                            <div class="row-1"></div>
                            <td><label for="code"><div class="col-sm-8"><h5><b> ProgramCode  </b></h6></div></label></td>
                            <td><input disabled class="input1" type="text" value="<%= mClass.program%>" name="pid" placeholder="Course code" required="required>
                                <span class="shadow-input1"></span></td>
                                 </div>
                        </tr>

                         <div class="wrap-input1 validate-input"  >
                            <div class="row-1">
                        <tr>
                            <div class="row-1"></div>
                            <td><label for="code"><div class="col-sm-8"><h5><b>CourseCode  </b></h6></div></label></td>
                            <td><input disabled class="input1" type="text" value="<%= mClass.course%>" name="cid" placeholder="Course code" required="required">
                                <span class="shadow-input1"></span></td>
                                 </div>
                        </tr>

                        <div class="wrap-input1 validate-input"  >
                            <div class="row-1">
                        <tr>
                            <div class="row-1"></div>
                            <td><label for="code"><div class="col-sm-8"><h5><b>CreateTopic </b></h6></div></label></td>
                            <td><input class="input1" type="text"  name="tname" placeholder="Enter topic name"  required>
                                <span class="shadow-input1"></span></td>
                            </div>
                        </tr>
                    </table>
                    <div class="container-contact1-form-btn">
						<button type="submit" class="contact1-form-btn" >
							<span>
								ADD
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</form>

                </div>
            </div>
        </div>
    </div>
</div>